body{
    background: grey;


}
.middle{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: lightgray;
    padding: 30px;
    width: 100%;

}

#textbox{
    width: 100%;

}

#slider{
    width: 100%;
    
}

.passwords_generated{
    margin-bottom: 50px;

}

#length{
    display: inline-block;
    width: 100 px;
}